.dashboard-page {

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;

    .chart-title {
        font-weight: 500;
        color: #615d67;
        margin-bottom: 20px;
    }

    .chart-section-card {
        background-color: #ffffff;
        border-radius: 10px;
        width: 100%;
        padding: 30px;
        margin-bottom: 30px;
        white-space: nowrap;
        overflow: auto;
    }

    .chart-update-time {
        margin-top: 20px;

        .time-chip {
            align-content: center;
            height: 28px;
            border-width: 0;
            background-color: rgba(138, 21, 56, 0.11);
            color: #8A1538;
        }
    }

    .empty-chart-xxl {
        height: 322px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .empty-chart-xl {
        height: 242px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .empty-chart {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loading-charts-spinner {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .year-chip {
        width: 55px;
        text-align: center;
        color: #615d67;
        border-radius: 5px;
    }

    .card-wrapper {
        .chart-wrapper {
            padding: 10px 10px;

            .chart-body {
                height: 100%;
                padding: 10px 20px;
                border-radius: 15px;
                box-shadow: 0px 3px 10px #00000030;
                transition: all 0.2s ease-in-out;
                background-color: #ffffff;

                &:hover {
                    box-shadow: 0px 4px 12px #0000001A;
                    transform: translateY(-5px);
                    transition: all 0.3s ease-in-out;
                }
            }

            h2 {
                margin: 15px 16px 5px;
            }

        }
    }

    .card {
        height: 100%;
        padding: 10px 20px;
        border-radius: 15px;
        box-shadow: 0px 3px 10px #00000030;
        transition: all 0.2s ease-in-out;
        background-color: #ffffff;

        &:hover {
            box-shadow: 0px 4px 12px #0000001A;
            transform: translateY(-5px);
            transition: all 0.3s ease-in-out;
        }
    }

    .stat-card {
        padding: 10px;
        height: 100%;
        
        .card {
            position: relative;
            cursor: pointer;

            .pre-topic {
                margin: 10px 0px 0px;
                font-size: 16px;
                color: #aaaaaa
            }

            .topic {
                font-size: 30px;
                line-height: 36px;
            }

            .motion-elemet {
                position: absolute;
                bottom: 20px;
                right: 10px;
                font-size: 60px;
                color: #8a1538;
                margin: 0px 16px;
                text-align: end;
                line-height: 72px;
            }
        }
    }
}