.mrv-logo {

    width: 200%;
    padding-top: 15px;

    .logo-image {
       flex-direction: column;
    align-items: end;
    display: flex;
    width: 100%;
    // padding-right: 1vw;
    cursor: pointer;
   

    img {
      margin-top: 25px;
      object-fit: cover;
      height: auto;
      width: 15rem;
      
    }
    }

    .logo-text {
        margin-top: 6px;
        font-family: 'MuseoSans';

        .bold-logo-title {
            font-size: 19px;
            font-weight: 600;
        }

        .logo-title {
            font-size: 19px;
            font-weight: 100;
        }

        .country-logo-title {
            font-size: 18px;
            font-weight: 100;
        }
    }
}