$accent-color: #CE1126;
$accent-color-80: #CE1126E0;
$accent-color-50: #CE112680;
$accent-color-40: #CE112666;
$accent-color-20: #CE112633;
$accent-shade-color: #916874;

$text-color: #221c1e;
$text-color-80: #221c1eE0;
$text-color-50: #221c1e80;
$text-color-30: #221c1e66;
$text-color-20: #221c1e33;

$error-color: #FF4D4F;