$accent-color: #456A3E;
$accent-color-80: #456A3EE0;
$accent-color-50: #456A3E80;
$accent-color-40: #456A3E66;
$accent-color-20: #456A3E33;
$accent-shade-color: #456A3E;

$text-color: #221c1e;
$text-color-80: #221c1eE0;
$text-color-50: #221c1e80;
$text-color-30: #221c1e66;
$text-color-20: #221c1e33;

$error-color: #FF4D4F;