@use '../../Styles/variables.scss';
@use '../../Assets/Fonts/fonts.scss';

.homepage-footer-container {
  background-color: variables.$primary-color;
  min-height: 250px;
  height: 100%;
  align-items: center;
  padding: 1rem 2rem 0 1rem;
  cursor: pointer;

  .ant-divider {
    @media (max-width: 660px) {
      margin: 2px 60px 2px 60px !important;
      
      
    }

    @media (max-width: 645px) {
      margin: 2px 60px 2px 12px !important;
      padding-left: 370px;
    }
  }
  .ant-row{
    @media (max-width: 660px) {
      display: flex !important;
      justify-content: center!important;
    }
  }

  .footertext {
    color: variables.$dark-text-color;
    padding: 5px 60px 20px 60px;
    font-size: 0.875rem;

    @media (max-width: 645px) {
      padding: 5px 10px 20px 10px;
      text-align: center;
      font-size: 0.7rem;
    }
  }
    .footertext2 {
    color: variables.$dark-text-color;
    padding: 5px 60px 20px 60px;
    font-size: 0.875rem;
    text-align: right;

    @media (max-width: 645px) {
      padding: 5px 10px 20px 10px;
      text-align: center;
      font-size: 0.7rem;
    }
  }

   .footertext2 {
    color: variables.$dark-text-color;
    padding: 5px 60px 20px 60px;
    font-size: 0.875rem;
    text-align: end;

    @media (max-width: 645px) {
      padding: 5px 10px 20px 10px;
      text-align: center;
      font-size: 0.7rem;
    }
  }

  .footer-raw {
    display: flex;
    
  }

  .footertext-bottom {
    color: variables.$dark-text-color;
    padding: 100px 60px 28px 60px;
    font-size: 0.875rem;
    font-family: 'MuseoSans';
    font-weight: 100;

    @media (max-width: 837px) {
      padding: 10px 60px 28px 60px;
    }

    @media (max-width: 645px) {
      padding: 10px 60px 28px 10px;
    }

    .cc {
      margin: 5px;
    }
  }

  .footertext-link-container {
    display: flex;
    color: variables.$dark-text-color;
    padding: 100px 60px 20px 60px;
    font-size: 0.75rem;
    text-decoration: underline;
    justify-content: center;
    padding-left: 400px;

    @media (max-width: 1077px) {
      flex-direction: column;
      padding-left: 0px;
    }

    @media (max-width: 837px) {
      padding: 10px 60px 20px 60px;
    }

    @media (max-width: 645px) {
      padding: 10px 60px 20px 10px;
    }

    @media (max-width: 390px) {
      font-size: 0.65rem;
    }
  }

  .footertext-links {
    padding-right: 15px;
    color: variables.$dark-text-color;
    white-space: nowrap;

    @media (max-width: 645px) {
      padding-left: 0;
      padding-right: 10px;
    }

    @media (max-width: 390px) {
      font-size: 6px;
    }
  }

  .divider {
    margin: 2px 60px 2px 60px;
    width: calc(100% - 120px) !important;
    min-width: calc(100% - 120px);
  }

  .logocontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;

    @media (max-width: 645px) {
      margin-left: -3.5rem;
      flex-direction: column;
      align-items:end;
      padding-right: 0.1rem;
      margin-bottom: 0px;
    }
    .logo-text{
      padding-left: 0.1rem;
    }

    .title {
      font-family: 'MuseoSans';
      font-size: 1rem;
      color: variables.$dark-text-color;
      font-weight: 700;
      margin-right: 0.5rem;
      padding-bottom: 1rem;
      // margin-left: 0.5rem;

      @media (max-width: 645px) {
        font-size: 0.7rem;
      }
    }
    span{
      font-weight: 50;
    }
    .title-sub {
      font-weight: 100 !important;
      font-family: 'MuseoSans';
      font-size: 2rem;
      color: variables.$dark-text-color;

      @media (max-width: 645px) {
        font-size: 1.8rem;
      }
    }

    .logo {
      height: 120px;
      // width: 455px;
      margin-top: -12px;

      img {
        object-fit: cover;
        // height: auto;
        height: 80%;
        margin-left:45px;
      }
       @media (max-width: 645px) {
           height: 60px;
      // width: 455px;
      margin-top: -12px;
      }
    }
    .footerLogoRight{
      display: flex;
      flex-direction: column;
      .logo2 {
      height: 94px;
      // width: 455px;
      margin-top: -12px;

      img {
        object-fit: cover;
        // height: auto;
        height: 70%;
        margin-right:65px;
         @media (max-width: 645px) {
         margin-right:45px;
      }
      }
    }
    }
    

    .footer-country-name {
      font-size: 1.5rem;
      color: variables.$dark-text-color;
      font-family: 'MuseoSans';
      margin-left: 0.65rem;
      margin-top: -15px;
    }
  }
}